* {
  border: 0;
  margin: 0;
  font-family: 'Victor Mono';
  line-height: 169%;
}

html {
  background-color: green;
}

main {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  /* width: 1000px; */

}

a {
  color: inherit;
  text-decoration: none;
}

body {
  /* min-height: 80vh; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

footer {
  align-items: center;
  display: flex;
  height: 69.42px;
  justify-content: space-evenly;
  /* margin-top: auto; */
  /* margin-top: 1.42rem; */
  /* margin-bottom: -20vh; */
  /* bottom: 0; */

}

header {
  align-items: center;
  display: flex;
  height: 69.42px;
  justify-content: space-evenly;
  /* margin-bottom: 1.42rem; */
}

button {
  background-color: rgb(69, 142, 69);
  border-color: lightgray;
  border-style: solid;
  border-width: 1.69px;
  box-shadow: 4.2px 4.2px grey;
  font-size: large;
  font-weight: bold;
  color: black;
}

/* GOTTA FIX THIS */
.connected {
  background-color: grey;
  box-shadow: 4.2px 4.2px rgb(69, 142, 69);
  /* border: inset 4.2px 4.2px; */
}

/* .container { */
  /* margin: 0; */
  /* flex: 1;  */
  /* display: flex;  */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

.title {
  color: greenyellow;
  font-size: 5.69rem;
  padding: 1.42rem;
  text-align: center;
  text-shadow: 2.42px 2.42px black;
}

.description {
  line-height: 1.42;
  font-size: 1.42rem;
  padding: 1.42rem;
  border-style: outset;
}

/* GOTTA FIX THIS */
.box {
  background-color: rgb(69, 142, 69);
  border-color: lightgray;
  border-style: double;
  border-width: 2px;
  font-size: x-large;
  padding: 1.42rem;
  /* margin: auto; */
  margin-bottom: 1.42rem;
  margin-top: 1.42rem;
  /* margin-bottom: 4.2%;
  margin-top: 4.2%; */
  margin-left: 14.2%;
  margin-right: 14.2%;
}

.pics {
  /* object-fit: contain; */
  margin-bottom: 1.42rem;
  margin-top: 1.42rem;
  /* margin-bottom: 4.2%;
  margin-top: 4.2%; */
  margin-left: 14.2%;
  margin-right: 14.2%;
}