* {
  border: 0;
  margin: 0;
  font-family: 'Victor Mono';
  line-height: 169%;
}

html {
  background-color: green;
}

.light {
  background-color: #EEEEEE !important;
}

main {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  align-items: center;
  display: flex;
  height: 69.42px;
  justify-content: space-evenly;
}

header {
  align-items: center;
  display: flex;
  height: 69.42px;
  justify-content: space-evenly;
  max-width: 50.69rem;
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%); /* https://stackoverflow.com/a/39729399/13240009 */
}

button {
  background-color: rgb(69, 142, 69);
  border-color: lightgray;
  border-style: solid;
  border-width: 1.69px;
  box-shadow: 4.2px 4.2px grey;
  font-size: large;
  font-weight: bold;
  color: black;
}

.connected {
  background-color: grey;
  box-shadow: 4.2px 4.2px rgb(69, 142, 69);
}

.title {
  color: greenyellow;
  font-size: 5.69rem;
  padding-bottom: 1.42rem;
  text-align: center;
  text-shadow: 2.42px 2.42px black;
}

.description {
  line-height: 1.42;
  font-size: 1.42rem;
  padding: 1.42rem;
  border-style: outset;
}

.box {
  background-color: rgb(69, 142, 69);
  border-color: lightgray;
  border-style: double;
  border-width: 2px;
  font-size: x-large;
  padding: 1.42rem;
  margin-bottom: 3.42rem;
  margin-top: 3.42rem;
  margin-left: 14.2%;
  margin-right: 14.2%;
}

.pics {
  margin-bottom: 3.42rem;
  margin-top: 3.42rem;
  margin-left: 14.2%;
  margin-right: 14.2%;
}