* {
  border: 0;
  margin: 0;
  font-family: 'Victor Mono';
}

html,
body {
  background-color: green;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  align-items: center;
  display: flex;
  height: 42.69px;
  justify-content: space-evenly;
  margin-top: 1.42rem;
}

header {
  align-items: center;
  display: flex;
  height: 42.69px;
  justify-content: space-evenly;
  margin-bottom: 1.42rem;
}

button {
  background-color: rgb(69, 142, 69);
  border-color: lightgray;
  border-style: solid;
  border-width: 1.69px;
  box-shadow: 4.2px 4.2px grey;
  font-size: small;
}

/* GOTTA FIX THIS */
.connected {
  background-color: grey;
  box-shadow: 4.2px 4.2px mediumseagreen;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.paddingtonhead {
  padding-bottom: 1.42rem;
}

.paddington {
  padding: 1.42rem;
}

.paddingtonfeet {
  padding-top: 1.42rem;
}


.title {
  color: greenyellow;
  font-size: 4.2rem;
  padding: 1.42rem;
  text-align: center;
  text-shadow: 2.42px 2.42px black;
}

.description {
  line-height: 1.42;
  font-size: 1.42rem;
  padding: 1.42rem;
  border-style: outset;
}

/* GOTTA FIX THIS */
.descriptionbox {
  background-color: rgb(69, 142, 69);
  border-color: greenyellow;
  border-style: solid;
  border-width: 2px;
  /* box-shadow: 6.9px 6.9px grey; */
  font-size: 1.42rem;
  line-height: 169%;
  padding: 1.42rem;
  margin-bottom: 4.2%;
  margin-top: 4.2%;
  margin-left: 14.2%;
  margin-right: 14.2%;
}

.pics {
  object-fit: contain;
  margin-bottom: 4.2%;
  margin-top: 4.2%;
  margin-left: 14.2%;
  margin-right: 14.2%;
}